In [1]:
#importing libraries
import pandas as pd

In [2]:
# Loading data from source
try:
    songs = pd.read_csv('data/songs/songs.csv') # reading the csv file
except Exception as e:
    print(f"Error Loading data from source: {e}") #Error message if data is not loaded
else:
    print("Data loaded successfully")
    print(songs.head(5)) # first five rows of the data

Data loaded successfully
   id                track_id                 artists  \
0   0  5SuOikwiRyPMVoIQDJUgSV             Gen Hoshino
1   1  4qPNDBW1i3p13qLCt0Ki3A            Ben Woodward
2   2  1iJBSr7s7jYXzM8EGcbK5b  Ingrid Michaelson;ZAYN
3   3  6lfxq3CG4xtTiEg7opyCyx            Kina Grannis
4   4  5vjLSffimiIP26QG5WcN2K        Chord Overstreet

                                          album_name  \
0                                             Comedy
1                                   Ghost (Acoustic)
2                                     To Begin Again
3  Crazy Rich Asians (Original Motion Picture Sou...
4                                            Hold On

                   track_name  popularity  duration_ms  explicit  \
0                      Comedy          73       230666     False
1            Ghost - Acoustic          55       149610     False
2              To Begin Again          57       210826     False
3  Can't Help Falling In Love          71       201933     False
4                     Hold On          82       198853     False

   danceability  energy  ...  loudness  mode  speechiness  acousticness  \
0         0.676  0.4610  ...    -6.746     0       0.1430        0.0322
1         0.420  0.1660  ...   -17.235     1       0.0763        0.9240
2         0.438  0.3590  ...    -9.734     1       0.0557        0.2100
3         0.266  0.0596  ...   -18.515     1       0.0363        0.9050
4         0.618  0.4430  ...    -9.681     1       0.0526        0.4690

   instrumentalness  liveness  valence    tempo  time_signature  track_genre
0          0.000001    0.3580    0.715   87.917               4     acoustic
1          0.000006    0.1010    0.267   77.489               4     acoustic
2          0.000000    0.1170    0.120   76.332               4     acoustic
3          0.000071    0.1320    0.143  181.740               3     acoustic
4          0.000000    0.0829    0.167  119.949               4     acoustic

[5 rows x 21 columns]

In [3]:
# Loading data from source
try:
    users = pd.read_csv('data/users/users.csv') # reading the csv file
except Exception as e:
    print(f"Error Loading data from source: {e}") #Error message if data is not loaded
else:
    print("Data loaded successfully")
    print(users.head(5)) # first five rows of the data

Data loaded successfully
   user_id         user_name  user_age   user_country  created_at
0        1      Norma Fisher        65  United States  2024-02-07
1        2    Jorge Sullivan        28  United States  2024-11-28
2        3   Elizabeth Woods        19  United States  2024-11-16
3        4      Susan Wagner        45  United States  2024-06-14
4        5  Peter Montgomery        61  United States  2024-07-24

In [4]:
print(pd.io.sql.get_schema(songs, name='songs')) # getting the schema of the songs data

CREATE TABLE "songs" (
"id" INTEGER,
  "track_id" TEXT,
  "artists" TEXT,
  "album_name" TEXT,
  "track_name" TEXT,
  "popularity" INTEGER,
  "duration_ms" INTEGER,
  "explicit" INTEGER,
  "danceability" REAL,
  "energy" REAL,
  "key" INTEGER,
  "loudness" REAL,
  "mode" INTEGER,
  "speechiness" REAL,
  "acousticness" REAL,
  "instrumentalness" REAL,
  "liveness" REAL,
  "valence" REAL,
  "tempo" REAL,
  "time_signature" INTEGER,
  "track_genre" TEXT
)

In [5]:
songs.isnull().sum() # checking for missing values in the songs data

id                  0
track_id            0
artists             1
album_name          1
track_name          1
popularity          0
duration_ms         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
track_genre         0
dtype: int64

In [6]:
users.isnull().sum() # checking for missing values in the users data

user_id         0
user_name       0
user_age        0
user_country    0
created_at      0
dtype: int64

In [7]:
songs['artists'].nunique() # checking for unique values in the songs data

31437

In [8]:
songs['album_name'].nunique() # checking for unique values in the songs data

46589

In [9]:
songs['track_name'].nunique() # checking for unique values in the songs data

73608

In [10]:
songs.fillna({'artists': 'Unknown Artist', 'album_name': 'Unknown Album', 'track_name': 'Unknown Track'}, inplace=True) # filling missing values in the songs data

In [11]:
songs.isnull().sum() # checking for missing values in the songs data

id                  0
track_id            0
artists             0
album_name          0
track_name          0
popularity          0
duration_ms         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
track_genre         0
dtype: int64

In [12]:
print(f"Duplicated Values in the Songs data:{songs.duplicated().sum()}") # checking for duplicates in the songs data
print(f"Duplicated Values in the Users data:{users.duplicated().sum()}")# checking for duplicates in the users data

Duplicated Values in the Songs data:0
Duplicated Values in the Users data:0

In [13]:
print(pd.io.sql.get_schema(users, name='users')) # getting the schema of the users data

CREATE TABLE "users" (
"user_id" INTEGER,
  "user_name" TEXT,
  "user_age" INTEGER,
  "user_country" TEXT,
  "created_at" TEXT
)

In [14]:
#importing libraries for creating the connection to RDS
from dotenv import load_dotenv
import os
from sqlalchemy import create_engine

load_dotenv() # loading the environment variables

DB_HOST = os.getenv("DB_HOST")
DB_PORT = int(os.getenv("DB_PORT", 5432))  # Default to 5432 if not set
DB_USER = os.getenv("DB_USER")
DB_NAME = os.getenv("DB_NAME")
DB_PASSWORD = os.getenv("DB_PASSWORD")

In [15]:
try:
    engine = create_engine(f'postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}') #create the connection
    engine.connect # connect to the database
except Exception as e:
    print(f"Error while connecting to database: {e}")
else:
    print("Connection Sucessful")

Connection Sucessful

In [16]:
#Schema of the songs data
songs.head(n=0)

Empty DataFrame
Columns: [id, track_id, artists, album_name, track_name, popularity, duration_ms, explicit, danceability, energy, key, loudness, mode, speechiness, acousticness, instrumentalness, liveness, valence, tempo, time_signature, track_genre]
Index: []

[0 rows x 21 columns]

In [17]:
#Schema of the users data
users.head(n=0)

Empty DataFrame
Columns: [user_id, user_name, user_age, user_country, created_at]
Index: []

In [18]:
#sending the songs schema to the database
try:
    songs.head(n=0).to_sql(name='songs', con=engine, if_exists='replace')
except Exception as e:
    print(f"Failed to load schema to database: {e}")
else:
    print("Schema loaded successfully")

Schema loaded successfully

In [19]:
#sending the users schema to the database
try:
    users.head(n=0).to_sql(name='users', con=engine, if_exists='replace')
except Exception as e:
    print(f"Failed to load schema to database: {e}")
else:
    print("Schema loaded successfully")

Schema loaded successfully

In [20]:
#loading the songs data
try:
    %time songs.to_sql(name='songs', con=engine, if_exists='replace')
except Exception as e:
    print(f"Failed to load songs data to database: {e}")
else:
    print("Data loaded successfully")

CPU times: user 7.99 s, sys: 199 ms, total: 8.19 s
Wall time: 35.7 s
Data loaded successfully

In [21]:
#loading the users data
try:
    %time users.to_sql(name='users', con=engine, if_exists='replace')
except Exception as e:
    print(f"Failed to load user data to database: {e}")
else:
    print("Data loaded successfully")

CPU times: user 1.66 s, sys: 40.9 ms, total: 1.7 s
Wall time: 14.5 s
Data loaded successfully